In [5]:
import pandas as pd

## Load WeChat post data

In [6]:
posts = pd.read_csv("../data/pence.csv", parse_dates = [ "created_at" ])

## Calculate weekly counts, with weeks starting on Thursdays

(Oct. 4, 2018 was a Thursday.)

In [7]:
posts.index = posts["created_at"]

weekly_counts = posts.resample(
    "W-THU",
    label = "left",
    closed = "left"
)["id"].count().to_frame("count")

weekly_counts

            count
created_at
2018-05-17      1
2018-05-24      0
2018-05-31      0
2018-06-07      0
2018-06-14      0
2018-06-21      0
2018-06-28      0
2018-07-05      1
2018-07-12      0
2018-07-19      2
2018-07-26      3
2018-08-02     11
2018-08-09      3
2018-08-16      1
2018-08-23      3
2018-08-30      0
2018-09-06      5
2018-09-13      1
2018-09-20      0
2018-09-27      0
2018-10-04    118
2018-10-11     30
2018-10-18      7
2018-10-25      5

In [8]:
weekly_counts.to_csv("../data/weekly-counts.csv")

---

---

---